<h1>CODE QR GENERATOR</h1>

<label for="">Ingresa el texto para el QR: </label>
<input [formControl]="qrStringControl" type="text">

<div class="">
  <qrcode
    (qrCodeURL)="onChangeURL($event)"
    [qrdata]="this.qrStringControl.value"
    [allowEmptyString]="true"
    [colorDark]="'#000000ff'"
    [colorLight]="'#ffffffff'"
    [elementType]="'img'"
    [errorCorrectionLevel]="'M'"
    [margin]="4"
    [scale]="1"
    [width]="300"
  ></qrcode>
  <a [href]="qrCodeDownloadLink" download="QRCodeFileName">Download</a>
</div>

<!--   <qrcode
    [qrdata]="'https://github.com/Cordobo/angularx-qrcode'"
    [allowEmptyString]="true"
    [ariaLabel]="'QR Code image with the following content...'"
    [cssClass]="'center'"
    [colorDark]="'#000000ff'"
    [colorLight]="'#ffffffff'"
    [elementType]="'canvas'"
    [errorCorrectionLevel]="'M'"
    [imageSrc]="'./assets/angular-logo.png'"
    [imageHeight]="75"
    [imageWidth]="75"
    [margin]="4"
    [scale]="1"
    [title]="'A custom title attribute'"
    [width]="300"
  ></qrcode> -->

